html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
}
body {
    font-family: Arial, sans-serif;
    background-image: url("images/free-photo-of-meat-with-vegetables-served-in-a-restaurant.jpeg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

.container_food {
    max-width: 90%;
    margin: 40px auto;
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#search-input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 32px;
    margin-right: 10px;
}

#search-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 32px;
    cursor: pointer;
}

#search-button:hover {
    background-color: #0056b3;
}

.recipe-content {
    margin-top: 20px;
}

.recipe-content h2 {
    color: #000;
    font-size: 32px;
    margin-bottom: 15px;
}

.recipe-content ul {
    padding: 0;
    list-style-type: none;
}

.recipe-content li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 32px;
    color: #000;
}
.main_one {
    width: 300px;
    background-color: coral;
    height: 70px;
    font-size: 32px;
    margin-left: 120px;
    border-radius: 35px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin-top: 20px;
}
.main_one:hover {
    background-color: rgb(145, 57, 25);
    color: #fff;
    
    
}

@media screen and (min-width: 300px) and (max-width: 600px) {
    body {
        background-size: cover; 
        background-position: center; 
    }
    #search-input {
        width: 100%;
        margin: 0;
    }
    #search-button {
        width: 100%;
        margin-top: 10px;
        font-size: 20px;
    }

    .search-bar {
        flex-direction: column;
    }

    h1 {
        font-size: 20px;
    }
    .recipe-content li {
        font-size: 18px;
    }
    #search-input  {
        font-size: 20px;
    }
    .main_one {
        margin-left: 0px;
        width: 150px;
        height: 40px;
        font-size: 15px;
    }
}

@media screen and (min-width: 601px) and (max-width: 991px) {
    body {
        background-size: cover; 
        background-position: center; 
    }
    #search-input {
        width: 70%;
    }

    h1 {
        font-size: 26px;
    }
    .recipe-content li {
        font-size: 22px;
    }
    #search-input  {
        font-size: 22px;
    }
    .main_one {
        margin-left: 20px;
        width: 200px;
        height: 50px;
        font-size: 20px;
    }
}
